body{
  background-color: rgb(215, 221, 221)
}

nav{
background-color: black;
padding: 20px;
font-size: 15pt;
position: fixed;
width: 100%;
height: auto;
margin-top: -25px;
}

nav a{
    padding-left: 10px;
    
}

a{
    text-decoration: none;
    font-size: 12pt;
    font-weight: bold;
    margin: 10px;
    color: white;
}

button{
    background-color: tomato;
    border: none;
}

button:hover{
    background-color: red;
    
}

p{
    /* background-color: white; */
    font-size: 15pt;
    border: 2px solid white;
    padding: 10px;
    margin: 10px;
}

pre{
    background-color: black;
    font-size: 15pt;
    color: pink;
    padding: 10px;
    margin: 10px;
}

mark{
    background-color: white;
    color: rgb(20, 1, 4);
}

img{
    width: 200px;
    height: 200px;
    margin-inline: 10px;
}

figcaption{
    margin-inline: 20px;
}

caption{
    margin: 10px;
    font-size: 15pt;
    font-weight: bold;
}

table{
    margin: 10px;
    border-collapse: collapse;
    width: 50%;
    
}

th, td{
    border: 3px solid rgb(216, 213, 213);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

th{
    background-color: tomato;
    height: 50px;
}

td{
    background-color: white;
    height: 35px;
}

tr:nth-child(odd){
    background-color: red;
}

tr:nth-child(even){
    background-color: tomato;
}

ul{
    list-style-type: square;
}

aside{
    color: white;
    font-style: italic;
    float: right;
    background-color: teal;
    width: 30%;
    padding: 20px;
    margin-top: -300px;
}

.lor{
    background-color: white;
    padding: 10px;
 }

 .jo{
    font-size: 20pt;
    margin: 20px;
 }

 .mo{
    text-transform: uppercase;
 }

 iframe{
    width: 500px;
    height: 300px;
    border: solid tomato;
    border-radius: 5px;
    margin-inline: 100px;
 }
 form{
    margin: 20px;
    
 }

 label{
    margin-top: 10px;
 }

 .vid{
    position: absolute;
    top: 1425px;
    right: -10px;
    width: 600px;
    height: 300px;
    
 }

