body{
  background-color: rgb(215, 221, 221)
}

a{
    text-decoration: none;
    font-size: 12pt;
    font-weight: bold;
    margin: 10px;
    color: white;
}

button{
    background-color: tomato;
    border: none;
}

button:hover{
    background-color: red;
    
}

p{
    /* background-color: white; */
    font-size: 15pt;
    border: 2px solid white;
    padding: 10px;
    margin: 10px;
}

pre{
    background-color: black;
    font-size: 15pt;
    color: pink;
    padding: 10px;
    margin: 10px;
}

mark{
    background-color: white;
    color: rgb(20, 1, 4);
}

img{
    width: 200px;
    height: 200px;
    margin-inline: 10px;
}

caption{
    margin: 10px;
    font-size: 15pt;
    font-weight: bold;
}

table{
    margin: 10px;
    border-collapse: collapse;
    width: 50%;
    
}

th, td{
    border: 3px solid rgb(216, 213, 213);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

th{
    background-color: tomato;
    height: 50px;
}

td{
    background-color: white;
    height: 35px;
}

tr:nth-child(odd){
    background-color: red;
}

tr:nth-child(even){
    background-color: tomato;
}

ul{
    list-style-type: square;
}

.lor{
    background-color: white;
    padding: 10px;
 }

 .jo{
    font-size: 20pt;
    margin: 20px;
 }

 .mo{
    text-transform: uppercase;
 }

 iframe{
    width: 500px;
    height: 300px;
    border: solid tomato;
    border-radius: 5px;
    margin-inline: 200px;
 }




